<h2>Cart</h2>

<%= form_tag "/cart", method: :patch do %>
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Qty</th>
    <th>Amount</th>
  </tr>
  <% current_cart.products.each do |i| %>
  <tr>
    <td><%= i[:title] %></td>
    <td><%= i[:price] %></td>
    <td>
      <%= text_field_tag "item[#{i[:product_id]}]", i[:quantity] %>
      <%= link_to "Remove", cart_path(product_id: i[:product_id]), method: :delete %>
    </td>
    <td><%= i[:amount] %></td>
    <% end %>
  </tr>
  <tr>
    <td>Total: <%= current_cart.total %></td>
  </tr>
</table>
<%= submit_tag "update" %>
<% end %>

<%= button_to "buy it", new_order_path, method: :get %>