<!-- slider -->
<ul class="cb-slideshow">
    <li><span>Image 01</span><div><h3>re·lax·a·tion</h3></div></li>
    <li><span>Image 02</span><div><h3>qui·e·tude</h3></div></li>
    <li><span>Image 03</span><div><h3>bal·ance</h3></div></li>
    <li><span>Image 04</span><div><h3>e·qua·nim·i·ty</h3></div></li>
    <li><span>Image 05</span><div><h3>com·po·sure</h3></div></li>
    <li><span>Image 06</span><div><h3>se·ren·i·ty</h3></div></li>
</ul>

<div class="row">
    <h1>show product</h1>
    <% @products.each do |p| %>
  <div class="col-md-4 pin ">
    <%= link_to (image_tag p.avatar.url(:medium)), product_path(p) %><br>
    <%= link_to p.title, product_path(p) %>
    <%= button_to "加入購物車", cart_path(product_id: p.id, quantity: 1) %>
    <% if admin_reqired %>
    <%= link_to "edit", edit_product_path(p) %>
    <%= link_to "destroy", product_path(p), method: :delete %>
    <% end %>
  </div><% end %>
</div>



<% if admin_reqired %>
<h1>create product</h1>
<%= render "form" %>
<% end %>
</div>