<h1>show girl</h1>
<% @girls.each do |g| %>
  <%= g.name %>
<% end %>

<h1>show product</h1>
<% @products.each do |p| %>
  <div>
    <%= link_to p.title, product_path(p) %>
    <%= p.description %>
    <%= p.price %>
    <%= p.quantity %>
    <%= link_to "edit", edit_product_path(p) %>
    <%= link_to "destroy", product_path(p), method: :delete %>
  </div>
<% end %>

<h1>create product</h1>
<%= render "form" %>
