<h1>show product</h1>
<%= render_product_photo(@product.main_photo) %>
<ul>
  <li><%= @product.title %></li>
  <li><%= @product.description %></li>
  <li><%= @product.quantity %></li>
  <li><%= @product.price %></li>
  <%= button_to "加入購物車", cart_path(product_id: @product.id, quantity: 1) %>
</ul>


<ul><% @photos.each do |photo| %>
  <li><%= image_tag photo.images.url(:medium) %></li>
<% end %>
</ul>





