<h1>show product</h1>
<%= image_tag @product.avatar.url(:medium) %>
<ul>
  <li><%= @product.title %></li>
  <li><%= @product.description %></li>
<!--   <li><%= @product.quantity %></li> -->
  <p>優惠價: $<%= @product.price %></p>
  <%= button_to "加入購物車", cart_path(product_id: @product.id, quantity: 1) %>
</ul>


<ul><% @photos.each do |photo| %>
  <li><%= image_tag photo.images.url(:medium) %></li>
<% end %>
</ul>





