<!DOCTYPE html>
<html>
<head>
  <title>Styome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <% if current_user %>
        <li>
          <%= "Hi! #{current_user.email}" %>
          <%= link_to("logout", destroy_user_session_path, method: :delete) %>
        </li>
        <li>
          <%= link_to("edit password", edit_registration_path(:user)) %>
        </li>
      <% else %>
        <li>
          <%= link_to("sign up", new_registration_path(:user)) %>
        </li>
        <li>
          <%= link_to("log in", new_session_path(:user)) %>
        </li>
      <% end %>
      <!-- 購物車 -->
      <ul>
        <li><%= link_to "購物車(count)" %></li>
      </ul>
  </nav>

<%= yield %>

</body>
</html>
