<!DOCTYPE html>
<html>
<head>
  <title>Styome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <%= link_to "Styo.me", products_path, :class => "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav">
      <% if current_user %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><%= "Hi! #{current_user.email}" %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to("logout", destroy_user_session_path, method: :delete)%>
            </li>
            <li>
               <%= link_to("edit password", edit_registration_path(:user)) %>
            </li>
      <% else %>
          <li>
            <%= link_to("sign up", new_registration_path(:user)) %>
          </li>
          <li>
            <%= link_to("log in", new_session_path(:user)) %>
          </li>
      <% end %>
        </ul>
      </li>

      <!-- 購物車 -->
      <ul class="nav navbar-nav">
        <li><%= link_to "購物車(count)", cart_path(current_cart) %></li>
      </ul>
      <!-- 管理者 -->
      <ul class="nav navbar-nav">
        <li><%= link_to("Manager", manager_girl_products_path(1))%></li>
      </ul>
  </nav>
<div class="container">
<%= yield %>
</div>
</body>
</html>
